nav {
  width: 100%;
  font-size: 1.25rem;
  border-bottom: .125rem solid black;
}

nav ul {
  display: inline;
  padding: 0;
}

nav li {
  display: inline;
  padding: 0 .5em;
}

.logo {
  display: inline;
  margin: 0 1em 0 15%;
}
