nav {
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 1.25rem;
  background-color: white;
  border-bottom: .1em solid black;
}

nav ul {
  display: inline;
  padding: 0;
}

nav li {
  display: inline;
  padding: 0 .5em;
}

.logo {
  display: inline;
  margin: 0 1em 0 15%;
}
