/* 
  Color palette: https://coolors.co/033f63-28666e-7c9885-b5b682-fedc97

  Indigo dye:   #033F63
  Ming:         #28666E
  Morning Blue: #7C9885
  Sage:         #B5B682
  Navajo White: #FEDC97
*/

nav {
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 1.25rem;
  background-color: #B5B682;
  border-bottom: .1em #033F63 solid;
}

nav ul {
  display: inline;
  padding: 0;
}

nav li {
  display: inline;
  padding: 0 .5em;
}

.logo {
  display: inline;
  margin: 0 1em 0 15%;
}
