/* 
  Color palette:

  Indigo dye:   #033F63
  Ming:         #28666E
  Morning Blue: #7C9885
  Sage:         #B5B682
  Navajo White: #FEDC97
*/

a {
  color: #033F63;
  text-decoration-thickness: 1px;
}

a:hover {
  text-decoration-thickness: 2px;
}

a:active {
  color: #28666E;
}
