* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
}

a {
  text-decoration-thickness: 0.0625rem;
}

.btn {
  background-color: #fff;
  border: .0625rem solid black;
}
.btn:hover {
  cursor: pointer;
}

a:hover {
  text-decoration-thickness: 0.125rem;
}

/* Must be at top level due to selectors */
.last .item-container {
  border-bottom: none !important;
}

.scrollable::-webkit-scrollbar {
  background-color: white;
  width: .5rem;
  height: .5rem;
  padding: 2rem 0;
  border: .0625rem solid black;
  border-radius: .25rem;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: .25rem;
}