/* 
  Color palette:

  Indigo dye:   #033F63
  Ming:         #28666E
  Morning Blue: #7C9885
  Sage:         #B5B682
  Navajo White: #FEDC97
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 46px 0 0 0;
  height: 100vh;
  background-color: #FEDC97;
  font-family: Poppins, sans-serif;
  color: #033F63;
}

a {
  color: #033F63;
  text-decoration-thickness: 1px;
}

a:hover {
  text-decoration-thickness: 2px;
}

a:active {
  color: #28666E;
}

.container {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.content {
  min-height: 100vh;
}

.menu {
  min-height: 100vh;
}
