.note-container {
  height: 75vh;
  padding: 1rem;
  border: .125rem solid black;
  border-radius: .25rem;
  overflow-y: scroll;
}

h2 {
  margin: 0;
  line-height: 2rem;
}

p {
  margin: .25rem 0 0 0;
}
